<div class="media-group-item">
  <div class="media">
    <div class="media-left">
      <div class="avatar avatar-md avatar-circle">
        <%= image_tag user.avatar.url %>
      </div>
    </div>
    <div class="media-body">
      <h5 class="media-heading"><%= link_to user.name, user %></h5>
      <small class="media-meta">Software Engineer</small>
      <div class="points pull-right"><span><%= t ".point" %></span><%= user.point %></div>
    </div>
  </div>
</div>
