.span-line::after {
  margin-left: 20px;
}
#error_explanation ul li {
  color: red;
}
#error_message li {
  color: red;
  list-style: none;
}
#error_message {
  float: left;
}
.alert {
  position: fixed;
  top: 62px;
  right: -200px;
  z-index: 1111;
}
.alert.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.bold-red-text {
  color: red;
  font-weight: bold;
}
.alert.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#tags_tag{
  width: 75px !important;
}
.btn.btn-small {
  padding: 4px 10px;
}
.listing-grid .tagcloud a {
  font-size: 16px !important;
  padding: 6px 15px !important;
}
.listing-grid.padding-bottom-0 {
  padding-bottom: 0px;
}
#answer_form {
  display: none;
}
.reply-content {
  color: black;
}
.btn-small {
  color: white !important;
}
.chidrent-reply {
  padding: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}
.border-bottom-1 {
  border-bottom: 1px solid #e5eaef;
}
.reply-content {
  clear: both;
}
.img-xs {
  width: 50px;
  height: 50px;
}
.img-border {
  border: #be161e solid 1px;
}
.btn-hover-success:hover {
}
.submit-reply {
  display: flow-root;
}
.link-to-view-more {
  color: blue !important;
}
.hide-replies {
  display: none;
}
.img-medium {
  width: 83px !important;
  height: 83px !important;
}
.hidden-overflow {
  overflow: hidden !important;
  max-height: 98px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.hidden-overflow p {
  overflow: hidden !important;
}
.children-replies {
  margin-left: 10%;
}
.no-padding-left {
  padding-left: 0px !important;
}
.tooltip {
  position: fixed !important;
}
.reacted, .reacted .fa-thumbs-down, .reacted .fa-thumbs-up {
  color: #be161e !important;
}
.liked-list {
  color: blue !important;
}
.blue-background {
  color: white !important;
  background-color: blue;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 12px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.fa-thumbs-down, .fa-thumbs-up {
  color: #999;
}
.img-25 {
  width: 25px;
  height: 25px;
}
.modal .modal-header {
  background-color: #be161e;
  color: white;
}
.reaction-user-list {
  padding-top: 10px;
}
.reactions-tab.reactions-tab {
  margin-top: 0px;
}
.padding-left-10 {
  padding-left: 10px;
}
.blue-color {
  color: blue;
}
.red-color {
  color: #be161e !important;
}
.bold-text {
  font-weight: bold;
}
.btn-vote {
  font-size: 45px;
  color: #999;
  vertical-align: text-bottom;
}
.btn-vote i {
  line-height: 0px;
}
.btn-vote:hover {
  color: #999;
}
.black-color {
  color: black;
}
.top-bar {
  position: fixed;
  top: 0px;
  z-index: 1111;
  width: 100%;
}
.vote-post {
  box-shadow: 2px 2px 1px 1px grey;
  border-radius: 10px
}
.navbar-default {
  margin-top: 45px;
}
.vote-post h1 {
  line-height: 40px;
}
.cover-img {
  background: #f1f1f1;
}
.active-content {

}
.tag-list-in-article {
  min-height: auto !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  border-bottom: none !important;
  max-height: 28px;
  overflow: hidden;
  height: 28px;
}
.no-hover {
  background: none !important;
}
.zoom-img {
  padding-right: 20px;
  float: left;
}
.tag-list .tag-item .tag-image {
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.tag-list .tag-item .panel-left {
  display: inline-block;
  float: left;
}

.tag-list .tag-item .panel-right {
  display: inline-block;
  padding-top: 10px;
}
.tag-list .tag-item{
  width: 100%;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.29);
}
.list-tab > li.active > a {
  color: #be161e !important;
}
.list-tab > li a {
  color: #000;
  margin-right: 0px !important;
}
.list-tab > li > a:hover {
  color: #be161e !important;
}
.list-tab > li.active {
  border-top: #be161e solid 3px !important;
  border-radius: 4px;
}
.list-tab > li {
  border-top: #fff solid 3px !important;
  border-radius: 4px;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.bold-font {
  font-weight: bold !important;
}
.post-content {
  color: black;
}
.posts-count {
  color: white;
  background: #be161e;
  padding: 14px 13px !important;
  font-weight: bold;
  font-size: 13.5px;
}

.side-bar .widget .tag_cloud a {
  padding: 0 0 0 17px !important;
}
.all_tags {
  margin-right: 15px;
}
.padding-top-bottom-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
