.span-line::after {
  margin-left: 20px;
}
#error_explanation ul li {
  color: red;
}
#error_message li {
  color: red;
  list-style: none;
}
#error_message {
  float: left;
}
.alert {
  position: fixed;
  top: 62px;
  right: -200px;
  z-index: 1111;
}
.alert.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.bold-red-text {
  color: red;
  font-weight: bold;
}
.alert.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#tags_tag{
  width: 75px !important;
}
.btn.btn-small {
  padding: 4px 10px;
}
.listing-grid .tagcloud a {
  font-size: 16px !important;
  padding: 6px 15px !important;
}
.listing-grid.padding-bottom-0 {
  padding-bottom: 0px;
}
#answer_form {
  display: none;
}
.reply-content {
  color: black;
}
.btn-small {
  color: white !important;
}
.chidrent-reply {
  padding: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}
.border-bottom-1 {
  border-bottom: 1px solid #e5eaef;
}
.reply-content {
  clear: both;
}
.img-xs {
  width: 50px;
  height: 50px;
}
.img-border {
  border: #be161e solid 1px;
}
.btn-hover-success:hover {
}
.submit-reply {
  display: flow-root;
}
.link-to-view-more {
  color: blue !important;
}
.hide-replies {
  display: none;
}
.img-medium {
  width: 83px !important;
  height: 83px !important;
}
.hidden-overflow {
  overflow: hidden !important;
  max-height: 98px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.hidden-overflow p {
  overflow: hidden !important;
}
.children-replies {
  margin-left: 10%;
}
.no-padding-left {
  padding-left: 0px !important;
}
.tooltip {
  position: fixed !important;
}
.reacted, .reacted .fa-thumbs-down, .reacted .fa-thumbs-up {
  color: #be161e !important;
}
.liked-list {
  color: blue !important;
}
.blue-background {
  color: white !important;
  background-color: blue;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 12px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.fa-thumbs-down, .fa-thumbs-up {
  color: #999;
}
.img-25 {
  width: 25px;
  height: 25px;
}
.modal .modal-header {
  background-color: #be161e;
  color: white;
}
.reaction-user-list {
  padding-top: 10px;
}
.reactions-tab.reactions-tab {
  margin-top: 0px;
}
.padding-left-10 {
  padding-left: 10px;
}
.blue-color {
  color: blue;
}
.red-color {
  color: #be161e !important;
}
.bold-text {
  font-weight: bold;
}
.btn-vote {
  font-size: 45px;
  color: #999;
  vertical-align: text-bottom;
}
.btn-vote i {
  line-height: 0px;
}
.btn-vote:hover {
  color: #999;
}
.black-color {
  color: black;
}
.top-bar {
  position: fixed;
  top: 0px;
  z-index: 1111;
  width: 100%;
}
.vote-post {
  box-shadow: 2px 2px 1px 1px grey;
  border-radius: 10px
}
.navbar-default {
  margin-top: 45px;
}
.vote-post h1 {
  line-height: 40px;
}
.cover-img {
  background: #f8f8f8;
}
.active-content {

}
.tag-list-in-article {
  min-height: auto !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  border-bottom: none !important;
  overflow: hidden;
  max-height: 30px;
}
.tag-list-in-article a {
  line-height: 30px;
}
.no-hover {
  background: none !important;
}
.zoom-img {
  padding-right: 20px;
  float: left;
}
.tag-list .tag-item .tag-image {
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.tag-list .tag-item .panel-left {
  display: inline-block;
  float: left;
}

.tag-list .tag-item .panel-right {
  display: inline-block;
  padding-top: 10px;
}
.tag-list .tag-item{
  width: 100%;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.29);
}
.list-tab > li.active > a {
  color: #be161e !important;
}
.list-tab > li a {
  color: #000;
  margin-right: 0px !important;
}
.list-tab > li > a:hover {
  color: #be161e !important;
}
.list-tab > li.active {
  border-top: #be161e solid 3px !important;
  border-radius: 4px;
}
.list-tab > li {
  border-top: #fff solid 3px !important;
  border-radius: 4px;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.bold-font {
  font-weight: bold !important;
}
.post-content {
  color: black;
}
.posts-count {
  color: white;
  background: #be161e;
  padding: 14px 13px !important;
  font-weight: bold;
  font-size: 13.5px;
}

.side-bar .widget .tag_cloud a {
  padding: 0 0 0 17px !important;
}
.all_tags {
  margin-right: 15px;
}
.padding-top-bottom-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.side-bar .widget .post {
  border-bottom: 1px solid #999;
  margin-bottom: 0px;
  padding: 20px 10px;
}
.popular-img .tick {
  left: 0px;
  border: none;
}
.img-border-2{
  height: 70px;
  width: 70px;
  border: #be161e solid 2px;
}
.media-group-item.padding-left-10 {
  padding-left: 0px !important;
}
.popular-img {
  height: 60px !important;
  width: 60px !important;
}
.news-post .media {
  margin-bottom: 0px;
}
.news-post .media-group:not(:last-child), .popular-posts .media-group {
  border-bottom: 1px solid #3333;
}
.border-views-count {
  border: 1px solid #f1f1f1;
  color: #999;
  line-height: 10px;
  padding: 5px;
}
.ash-color {
  color: #8c8b8b !important;
}
.popular-question {
  padding: 12px 10px 12px 20px !important;
}

.middle-img {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.margin-right-15 {
  margin-right: 15px;
}
.latest-news .media-group:last-child {
  border-bottom: none;
}
.post-list-custom-modal .popular-img {
  display: inline-block;
  position: relative;
}
.post-list-custom-modal .popular-img img {
  height: auto;
  width: auto;
}
.post-list-custom-modal .like-comment li, .series .like-comment li {
  float: left;
}
.post-list-custom-modal .media-heading a {
  color: black;
}
.post-list-custom-modal .like-comment {
  padding-left: 15px;
}
.post-list-custom-modal .like-comment li span, .series .like-comment li span {
  width: auto;
  padding: 0px 10px 0px 0px;
}
.post-list-custom-modal .media-group {
  border: 1px solid #3333;
  padding: 7px 7px 0px 7px;
  margin-bottom: 10px;
}
.cycle-border {
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: solid 1px;
  border-radius: 50%;
  line-height: 23px !important;
  text-align: center;
}
.post-list-custom-modal .news-post .media-group.selected {
  background: #96c4fb;
}
.post-list-custom-modal .news-post .media-group.selected .add-post {
  color: red;
  background: #fff;
}
.user-item .avatar {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.user-item {
  padding: 30px 10px !important;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.38);
  position: relative;
}
.padding-15 {
  padding: 10px;
}
.user-item .info-item {
  border-radius: 5px;
}
.user-item p {
  margin-bottom: 15px !important;
}
.ticker-follow-true {
  position: absolute;
  top: -14px;
  right: 10px;
  border: solid 1px;
  padding: 0 5px;
  margin: 0;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.32);
  background-color: #5cb85c;
  color: white;
  border-radius: 5px
}
.ticker-follow-false {
  display: none;
}
.user-item .user-name {
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.user-item .btn{
  border-radius: 5px;
}
.user-item .btn, .tag-list .btn{
  border-radius: 5px;
}
.post-list-custom-modal .media-group.selected {
  background: #96c4fb;
}
.post-list-custom-modal .media-group.selected .add-post {
  color: red;
  background: #fff;
}
.section-title-line {
  display: flex;
}
.section-title-line .text-bold{
  line-height:  1.1;
}
.section-title-line>.filler-line {
  margin-left: 1em;
  flex-grow: 1;
  border-color: #d6d6d7;
  margin-top: 30px;
}
.post-list-custom-modal.post-list .media-group {
  border-left: none;
  border-right: none;
  border-top: none;
}
.question-details .post-list-custom-modal.post-list .media-body {
  padding-left: 0px;
}
.cover-image-series {
  height: 130px;
  width: 250px;
  position: relative;
  border: solid 1px;
}
.series .media-left {
  padding-right: 15px !important;
}
.series .series-title {
  color: #0085ff;
}
.series .series-user {
  color: #be161e;
}
.series .post-box-title {
  padding-bottom: 5px;
}
.series .media-group {
  margin-bottom: 25px;
}

.btn-height {
  height: 32px;
}
.btn-vote:focus {
  color: #999;
}
a:hover {
  text-shadow: 0.5px 0.5px 3px;
}
.question-details .media-body span.pull-right a {
  color: #be161e;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #222 !important;
  border-color: #222 !important;
}
.btn-primary:hover, .btn-primary.hover {
    color: #fff;
    background-color: #be161e !important;
    border-color: #be161e !important;
}
.reply-content {
  position: relative;
}
.blue-color {
  color: blue !important;
}
.margin-bottom-5 {
  margin-bottom:  5px !important;
}
.article-time {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  color: #555;
  line-height: 0px;
  vertical-align: text-top;
}
.article-time i{
  font-size: 14px;
}
.article-title-item {
  line-height: 15px;
}
.blog-content.article-item {
  min-height: 230px !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.yellow-color {
 color: #aba603 !important;
}
.padding-right-15 {
  padding-right: 15px !important;
}
.article .media-meta {
  color: #777;
}
.green-color {
  color: #136511 !important;
}
.border-bottom-yellow {
  border-bottom: 1px solid #aba603 !important;
}
.border-bottom-green {
  border-bottom: 1px solid #136511 !important;
}
.border-bottom-red {
  border-bottom: 1px solid #be161e !important;
}
.media-group {
  border-bottom: 1px solid #f5f7f9;
}
.article-item p {
  color: black;
}
.post-title {
  color: #191919;
  font-size: 17px;
  font-weight: 600;
}
.side-post-title {
  color: #191919;
  font-size: 15px;
  font-weight: 600;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.index.series-item {
  border-bottom: 1px solid #e5eaef;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.ribbon-content .ribbon.right {
  position: absolute;
  top: -18px;
  right: -5px;
  padding: 5px;
}
.ribbon.base.left {
  position: absolute;
  top: -18px;
  padding: 5px;
  left: -200px;
  right: auto;
}
.correct-answer {
  position: absolute;
  top: -18px;
  right: -5px;
  left: auto;
  padding: 5px 10px!important;
  background: white;
  border: #adadad solid 1px !important;
  color: #222;
}
.correct-answer.left {
  left: -5px;
  right: auto;
}
.correct-answer:hover {
  background: #3498db;
  color: white !important;
  text-align: center;
  border: #3498db solid 1px !important;
}
.correct-answer.active {
  background: #3498db;
  color: white !important;
  text-align: center;
  border: #3498db solid 1px !important;
}
.ribbon.base .not-correct {
  vertical-align: text-bottom;
  color: black;
  font-size: 15px;
}
.ribbon.base a:hover {
  color: black;
}
.correct-answer.right {
  right: -5px;
  left: auto;
}
